*{padding:0;margin:0;font-size:62.5%;font-family: "Microsoft YaHei UI"}
#wrap{
  margin: 0px auto;
  width:600px;
  height:600px;
  border:1px solid #aaa;
  perspective: 800px;

  #box{
    height:200px;
    width:200px;
    transition:4s;
    margin:200px auto 0;
    position:relative;
    //box-shadow:0 0 10px #000;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform:translateZ(-100px) rotateY(0deg);

    .polyhedron{
      width:200px;
      height: 200px;
      display:block;
      position: absolute;
      top:0;
      left:0;
      box-shadow:0 0 10px red inset;
      border-radius:5px;
      font-size:1.6rem;
      text-align:center;
      line-height:200px;
    }
    .polyhedron:nth-of-type(1){
      top:-200px;
      transform-origin:bottom;
      transform:translateZ(100px) rotateX(90deg);
      transition: 4s;
    }
    .polyhedron:nth-of-type(2){
      left:200px;
      transform-origin:left;
      transform:translateZ(100px) rotateY(90deg);
    }
    .polyhedron:nth-of-type(3){
      top:200px;
      transform-origin:top;
      transform:translateZ(100px) rotateX(-90deg);
    }
    .polyhedron:nth-of-type(4){
      left:-200px;
      transform-origin:right;
      transform:translateZ(100px) rotateY(-90deg);
    }
    .polyhedron:nth-of-type(5){
      transform:translateZ(100px);
    }
    .polyhedron:nth-of-type(6){
      transform:translateZ(-100px) rotateY(180deg);
    }
    #lowBox{
      width:80px;
      height:80px;
      box-shadow:0 0 10px blue inset;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%) rotateY(0deg);
      transition:3s;
      transform-style:preserve-3d;
      .lowPolyhedron{
        width:80px;
        height:80px;
        box-shadow:0 0 10px green inset;
        position:absolute;
        left:0;
        top:0;
        background-position: center;
        background-size:cover;
        -webkit-box-reflect:below 5px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);

      }
      .lowPolyhedron:nth-of-type(1){
        top:-80px;
        transform-origin:bottom;
        transform:translateZ(40px) rotateX(90deg);
      }
      .lowPolyhedron:nth-of-type(2){
        left:80px;
        transform-origin:left;
        transform:translateZ(40px) rotateY(90deg);
        background-image:url("img/1.jpg");
      }
      .lowPolyhedron:nth-of-type(3){
        top:80px;
        transform-origin:top;
        transform:translateZ(40px) rotateX(-90deg);
      }
      .lowPolyhedron:nth-of-type(4){
        left:-80px;
        transform-origin:right;
        transform:translateZ(40px) rotateY(-90deg);
        background-image:url("img/4.jpg");
      }
      .lowPolyhedron:nth-of-type(5){
        transform:translateZ(40px);
        background-image:url("img/1.jpg");
      }
      .lowPolyhedron:nth-of-type(6){
        transform:translateZ(-40px);
        background-image:url("img/4.jpg");
      }
    }
  }
  &:hover #box{
    transform:translateZ(-100px) rotateY(220deg);
  }
  &:hover #box .polyhedron:nth-of-type(1){
    transform:translateZ(100px) rotateX(-45deg);
  }
  &:hover #box #lowBox{
    top:-30%;
    transform:translateZ(-50%,-50%) rotateY(300deg);
  }
}